{% extends 'main/base.html' %}
{% block content %}
            <div class="parallax section parallax-off" style="background-image:url('{{object.cover.url}}');">
                <div class="container">
                    <div class="page-title text-center">
                        <img src="{{object.image.url}}" alt="" class="profile-image img-circle img-responsive">
                        <div class="heading-holder">
                            <h1>{{object.name}}</h1>
                        </div>
                        <p class="lead">{{object.title}}</p>
                        <p >{{object.profession}}</p>
                        <ul class="list-inline social-small">
                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="section lb">
                <div class="container">
                    
                    <div class="row">
                        <div class="content col-md-8">
                            <div class="post-padding">
                                <div class="single-content recentworks">
                                    <h4 class="small-title">Recent Completed Works <a href="#" class="readmore">View All</a></h4>
                                    <div class="row">
                                        {% for job in object.ongoing_jobs.all %}
                                        {% if job.completed %}
                                       
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="service-tab">
                                                <div class="post-media">
                                                    <a href="#"><img src="{{job.image.url}}" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="service-title">
                                                    <h4><a href="#">{{job.title}}</a></h4>
                                                    <small><a href="#">View Project</a></small>
                                                </div>
                                            </div><!-- end service-tab -->
                                        </div><!-- end col -->
                                      {% endif %}
                                        {% endfor %}

                                        <div class="col-sm-6 col-xs-12">
                                            <div class="service-tab">
                                                <div class="post-media">
                                                    <a href="#"><img src="upload/job_02.jpg" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="service-title">
                                                    <h4><a href="#">EduPress - HTML to WordPress</a></h4>
                                                    <small><a href="#">View Project</a></small>
                                                </div>
                                            </div><!-- end service-tab -->
                                        </div><!-- end col -->
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="service-tab">
                                                <div class="post-media">
                                                    <a href="#"><img src="upload/job_02.jpg" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="service-title">
                                                    <h4><a href="#">EduPress - HTML to WordPress</a></h4>
                                                    <small><a href="#">View Project</a></small>
                                                </div>
                                            </div><!-- end service-tab -->
                                        </div><!-- end col -->
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="service-tab">
                                                <div class="post-media">
                                                    <a href="#"><img src="upload/job_02.jpg" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="service-title">
                                                    <h4><a href="#">EduPress - HTML to WordPress</a></h4>
                                                    <small><a href="#">View Project</a></small>
                                                </div>
                                            </div><!-- end service-tab -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end single-content -->
                            </div><!-- end post-padding -->

                            <div class="post-padding">
                                <div class="single-content">
                                    <h4 class="small-title">Why Choose Us?</h4>
                                    
                                    <p class="lead">100% Result Till now  with 5/5 rating with Preferred Freelancer chosen by Freelancer itself..</p>
                                    {% for detail in object.get_details %}
                                    <p>{{detail}}</p>
                                    {% endfor %}
                                    <p>Rremaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <h5 class="small-title">Preferssred Freelancer and 100% Success Rate</h5>

                                    <ul class="customlist">
                                        {% for list in get_area_of_concentration %}
                                        <li>{{list}}</li>
                                        {% endfor %}
                                        <li>Opencart listed Partner </li>
                                        <li>Magento Certified</li>
                                        <li>Php Larvel ,Zend Framework</li>
                                        <li>Certified Social Engine</li>
                                        <li>Prestashop , CS cart and Drupal,  ZenCart developer</li>
                                        <li>PSD TO HTML5 (  Elite author in themeforest)</li>
                                        <li>Great experience with Linux, Server Optimizing, Failover Clustering, Security, Virtualization know common used utilites, scripts and services such as Apache, PHP, MySQL, Nginx and many others.</li>
                                        <li>Donec venenatis ante a imperdiet maximus. Sed in justo porta, rutrum velit non, blandit lorem.</li>
                                        <li>Aenean pretium tortor eget nisl accumsan posuere. Aliquam congue metus eget quam scelerisque rhoncus.</li>
                                        <li>Donec vestibulum lectus a nisi vestibulum, sed vehicula est finibus. Proin facilisis tortor sed leo suscipit, quis pellentesque dui luctus.</li>
                                    </ul>
                                </div>
                                
                            </div><!-- end post-padding -->
                            
                             
                              
                            <div class="post-padding" id="reviews">
                                <div class="single-content reviewwrapper">
                                    <h4 class="small-title">Recent Reviews <a href="#" class="readmore">View All Feedbacks</a></h4>
                                    <div class="testimonials">
                                        {% for review in reviews %}
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <a href="#"><img src="upload/job_02.jpg" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="col-md-10">
                                                    <h4><a href="#">PHP Developer - Wordpress Error</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p class="clients-words">“{{review.content}}”</p>
                                                    <span class="clients-name text-primary">-{{review.user}} {{review.timestamp|timesince}} ago</span>
                                                </div>
                                            </div>
                                        </blockquote>
                                        {% endfor %}

                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <a href="#"><img src="upload/job_03.jpg" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="col-md-10">
                                                    <h4><a href="#">Create a minimalist logo for me</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p class="clients-words">“Wonderful response from the team members here. Will definitely rehire”</p>
                                                    <span class="clients-name text-primary">-martin 15.05.2016</span>
                                                </div>
                                            </div>
                                        </blockquote>

                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <a href="#"><img src="upload/job_05.jpg" alt="" class="img-responsive"></a>
                                                </div>
                                                <div class="col-md-10">
                                                    <h4><a href="#">Fix my WHMCS problem! Max Budge $20!!!</a></h4>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <p class="clients-words">“Thank you for the sense of urgency and taking care of most problems. Excellent work! Thank you very much! Would recommend."</p>
                                                    <span class="clients-name text-primary">-Emanuella 22.04.2016</span>
                                                </div>
                                            </div>
                                        </blockquote>

                                        <hr>

                                        <p class="lead">If you want to review for this freelancer, please make sure you are <a href="#">Login your account</a> or order any <a href="#">service</a> from this freelancer.</p>

                                    </div>
                                </div><!-- end single-content -->
                            </div>
                            <div class="post-padding">
                                <div class="single-content recentworks">
                                    <h4 class="small-title">Our Location <a href="#" class="readmore">View Large</a></h4>
                                    <div id="map">{{object.location}}</div>  
                                </div><!-- end single-content -->
                            </div>

                           

                            
                        </div><!-- end col -->  

                        <div class="sidebar col-md-4">
                            <div class="widget clearfix">    
                                <div class="customwidget item-price w40">
                                    <span class="text-center">${{object.min_wage}}/hr</span>
                                    <div class="rating text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <small><a href="#reviews">95 Reviews</a></small>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                    <small><a href="#"><i class="fa fa-star-o"></i> Add to Favorites</a> &nbsp;&nbsp; <a href="#"><i class="fa fa-heart-o"></i> Like it</a> </small>
                                    </div>
                                    <hr>
                                    <div class="link-widget">   
                                        <ul class="check">
                                            <li>21 Jobs Done</li>
                                            <li>Member Since 2014</li>
                                            <li>12 Recommended</li>
                                        </ul><!-- end check -->
                                    </div>
                                    <div class="text-center">
                                        <a href="#contactmodal" role="button" data-toggle="modal" class="btn btn-primary btn-lg">Contact Me</a>    
                                        
                                    </div>
                                </div><!-- end newsletter -->
                            </div><!-- end widget -->

                            <div class="widget post-padding clearfix">
                                <div class="widget-title">
                                    <h4>Verifications</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="verification-list">
                                        <li class="done"><i class="fa fa-facebook"></i> Facebook Linked</li>
                                        <li class="done"><i class="fa fa-twitter"></i> Twitter Linked</li>
                                        <li><i class="fa fa-shield"></i> Preferred Freelancer</li>
                                        <li class="done"><i class="fa fa-money"></i> Payment Approved</li>
                                        <li><i class="fa fa-phone"></i> Verified Phone</li>
                                        <li class="done"><i class="fa fa-user"></i> Authenticated</li>
                                        <li class="done"><i class="fa fa-envelope-o"></i> Email Verified</li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div><!-- end post-padding -->

                           
                            <div class="widget post-padding clearfix">
                                <div class="widget-title">
                                    <h4>Experience</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="check">
                                        <li>Leopedia Web Solutions - 2009 - 2011 </li>
                                        <li>WP Service U.S - 2011 - 2015 </li>
                                        <li>PSD Convert HTML - Mar 2015 </li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div><!-- end post-padding -->

                            <div class="widget post-padding clearfix">
                                <div class="widget-title">
                                    <h4>My Main Skils</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="check">
                                        {% for skill in get_skills %}
                                        <li><a href="#">{{skill}}</a></li>
                                        {% endfor %}
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Bootstrap</a></li>
                                        <li><a href="#">PSD to HTML</a></li>
                                        <li><a href="#">Material Design</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">SEO</a></li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div><!-- end post-padding -->
                        </div><!-- end col -->
                    </div><!-- end row -->  
                </div><!-- end container -->
            </div><!-- end section -->
{% endblock content %}