<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>YourJob | Responsive Job Listing Site Templates</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- RESPONSIVE STYLES -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="css/colors.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- PRELOADER -->
        <div class="cssload-container">
            <div class="cssload-loader"></div>
        </div>
    <!-- end PRELOADER -->
    
    <!-- START SITE -->
        <div id="wrapper">
            <header class="header">
                <div class="container-fluid">
                    <nav class="navbar navbar-default yamm">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" title="" href="index.html"><img src="images/logo.png" alt="" class="img-responsive"></a>
                            </div>
                            <!-- end navbar header -->

                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown hasmenu yamm-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="fa fa-angle-down"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="tabbable row-fluid">
                                                                <ul class="nav nav-tabs col-md-4">
                                                                    <li class="active color2"><a href="#b" data-toggle="tab">Special Pages <i class="fa fa-angle-right"></i></a></li>
                                                                    <li class="color3"><a href="#c" data-toggle="tab">Custom Pages <i class="fa fa-angle-right"></i></a></li>
                                                                </ul>
                                                                <div class="tab-content col-md-8">
                                                                    <div class="tab-pane secondcol active" id="b">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <ul>
                                                                                    <li><a href="job-single.html">Job Single Page</a></li>
                                                                                    <li><a href="job-search.html">Job Search</a></li>
                                                                                    <li><a href="job-search-map.html">Job Search Map</a></li>
                                                                                    <li><a href="job-add.html">Add a Job</a></li>
                                                                                    <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                                                                    <li><a href="employer-listing.html">Employer Listing</a></li>
                                                                                    <li><a href="employer-profile.html">Employer Profile</a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <ul>
                                                                                    <li><a href="freelancer-profile.html">Freelancer Profile</a></li>
                                                                                    <li><a href="freelancer-search.html">Freelancer Search</a></li>
                                                                                    <li><a href="freelancer-search-map.html">Freelancer Search Map</a></li>
                                                                                    <li><a href="freelancer-add-resume.html">Add a Resume / CV</a></li>
                                                                                    <li><a href="freelancer-dashboard.html">Freelancer Dashboard</a></li>
                                                                                    <li><a href="freelancer-listing.html">Freelancer Listing</a></li>
                                                                                    <li><a href="freelancer-edit-resume.html">Freelancer Edit Profile</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <hr>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <p>If you are looking special job and freelancer pages, right place here! Tons of options, special pages and more.</p>
                                                                            </div>
                                                                        </div><!-- end row -->
                                                                    </div>
                                                                    
                                                                    <div class="tab-pane thirdcol" id="c">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <ul>
                                                                                    <li><a href="page-about.html">About us</a></li>
                                                                                    <li><a href="page-services.html">Custom Services</a></li>
                                                                                    <li><a href="shop.html">Shop Page</a></li>
                                                                                    <li><a href="shop-single.html">Shop Single</a></li>
                                                                                    <li><a href="shop-single-alt.html">Shop Single Alt</a></li>
                                                                                    <li><a href="shop-cart.html">Shop Cart</a></li>
                                                                                    <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <ul>
                                                                                    <li><a href="page-pricing.html">Plans & Pricing</a></li>
                                                                                    <li><a href="page-testimonial.html">Testimonials</a></li>
                                                                                    <li><a href="page-shortcodes.html">Shortcodes</a></li>
                                                                                    <li><a href="page-contact.html">Contact Page</a></li>
                                                                                    <li><a href="page-login.html">Login & Register</a></li>
                                                                                    <li><a href="page-faqs.html">FAQS Page</a></li>
                                                                                    <li><a href="page-404.html">Not Found</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <hr>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <p>Looking creative page examples? Sure, we build special page examples for you. About, contact, register and more.</p>
                                                                            </div>
                                                                        </div><!-- end row -->
                                                                    </div>
                                                                </div><!-- end tab-content -->
                                                            </div><!-- end tabbable -->
                                                        </div><!-- end col -->
                                                    </div><!-- end row -->
                                                </div><!-- end yamm-content -->
                                            </li><!-- end li -->
                                        </ul><!-- end dropdown-menu -->
                                    </li><!-- end hasmenu -->
                                    <li><a title="" href="job-search-map.html">Employers</a></li>
                                    <li><a title="" href="freelancer-search-map.html">Freelancers</a></li>
                                    <li><a title="" href="page-pricing.html">Pricing</a></li>
                                    <li><a title="" href="blog.html">Blog</a></li>
                                    <li><a title="" href="page-contact.html">Support</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown yamm-half membermenu hasmenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="upload/testi_03.png" alt="" class="img-circle"> <span class="caret"></span></a>
                                        <ul class="dropdown-menu start-right">
                                            <li class="dropdown-header">Welcome Jenny</li>
                                            <li><a href="freelancer-profile.html"><span class="glyphicon glyphicon-user"></span> Public Profile</a></li>
                                            <li><a href="freelancer-dashboard.html"><span class="glyphicon glyphicon-off"></span> User Dashboard</a></li>
                                            <li><a href="freelancer-edit-resume.html"><span class="glyphicon glyphicon-edit"></span> Edit Resume / CV</a></li>
                                            <li><a href="freelancer-active-jobs.html"><span class="glyphicon glyphicon-briefcase"></span> Active Jobs</a></li>
                                            <li><a href="freelancer-passed-jobs.html"><span class="glyphicon glyphicon-briefcase"></span> Passed Jobs</a></li>
                                            <li><a href="freelancer-change-password.html"><span class="glyphicon glyphicon-refresh"></span> Change Password</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="btn btn-primary" title="" href="job-add.html">Submit Job</a></li>
                                </ul>
                                <!-- end dropdown -->
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                        <!--/.container-fluid -->
                    </nav>
                    <!-- end nav -->
                </div>
                <!-- end container -->
            </header>
            <!-- end header -->

            <div class="section db">
                <div class="container">
                    <div class="page-title text-center">
                        <div class="heading-holder">
                            <h1>List of Freelancers</h1>
                        </div>
                        <p class="lead">We have listed here alphabetically all freelancers.</p>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="section wb">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        <nav class="portfolio-filter text-center">
                            <ul class="list-inline">
                                <li><a href="#" data-filter="*">All</a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="12" href="#" data-filter=".cat1">A</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="33" href="#" data-filter=".cat2">B</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="13" href="#" data-filter=".cat3">C</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="44" href="#" data-filter=".cat4">D</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="53" href="#" data-filter=".cat5">E</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="5" href="#" data-filter=".cat6">F</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="31" href="#" data-filter=".cat7">G</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="12" href="#" data-filter=".cat8">H</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="7" href="#" data-filter=".cat9">I</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="42" href="#" data-filter=".cat10">J</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="1" href="#" data-filter=".cat11">K</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="22" href="#" data-filter=".cat12">L</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat13">M</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat14">N</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat15">O</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat16">P</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat17">R</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat18">S</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat19">T</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat20">U</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat21">V</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat22">Y</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat23">W</a></li> 
                                <li><a data-toggle="tooltip" data-placement="top" title="0" href="#" data-filter=".cat24">Z</a></li> 
                            </ul>
                        </nav> 
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">
                
                <div class="portfolio">
                    <div class="pitem item-w1 item-h1 cat1">
                        <h4 class="list-title">A</h4>
                        <ul class="check-list">
                            <li><a href="#">Amanda <small>(21 Jobs)</small></a></li>
                            <li><a href="#">Abraham <small>(12 Jobs)</small></a></li>
                            <li><a href="#">Ahmed <small>(7 Jobs)</small></a></li>
                            <li><a href="#">Antonhy <small>(11 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat2">
                        <h4 class="list-title">B</h4>
                        <ul class="check-list">
                            <li><a href="#">Bob WP <small>(11 Jobs)</small></a></li>
                            <li><a href="#">Bryan <small>(5 Jobs)</small></a></li>
                            <li><a href="#">Bulgra <small>(7 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat3">
                        <h4 class="list-title">C</h4>
                        <ul class="check-list">
                            <li><a href="#">Caden <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Cadfan <small>(44 Jobs)</small></a></li>
                            <li><a href="#">Cadoc <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Cawgan <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Cael <small>(30 Jobs)</small></a></li>
                            <li><a href="#">Caelia <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat4">
                        <h4 class="list-title">D</h4>
                        <ul class="check-list">
                            <li><a href="#">Daniel <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Daffoil <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Dayday <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Dagon <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat5">
                        <h4 class="list-title">E</h4>
                        <ul class="check-list">
                            <li><a href="#">Eabhda <small>(12 Jobs)</small></a></li>
                            <li><a href="#">Emanuella <small>(33 Jobs)</small></a></li>
                            <li><a href="#">Eadric <small>(12 Jobs)</small></a></li>
                            <li><a href="#">Ealier <small>(11 Jobs)</small></a></li>
                            <li><a href="#">Eamon <small>(0 Jobs)</small></a></li>
                            <li><a href="#">Ean <small>(22 Jobs)</small></a></li>
                            <li><a href="#">Earnest <small>(12 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat6">
                        <h4 class="list-title">F</h4>
                        <ul class="check-list">
                            <li><a href="#">Fernando <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Flamingo <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Fedai <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Fabrico <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat7">
                        <h4 class="list-title">G</h4>
                        <ul class="check-list">
                            <li><a href="#">Gabby <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Gabin <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Gabor <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Gabr <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat8">
                        <h4 class="list-title">H</h4>
                        <ul class="check-list">
                            <li><a href="#">Habahuc <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Hacer <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Hachiro <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Hadad <small>(30 Jobs)</small></a></li>
                            <li><a href="#">Hadi <small>(30 Jobs)</small></a></li>
                            <li><a href="#">Hades <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat9">
                        <h4 class="list-title">I</h4>
                        <ul class="check-list">
                            <li><a href="#">Iachus <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Iael <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Isabella <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Iain <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat10">
                        <h4 class="list-title">J</h4>
                        <ul class="check-list">
                            <li><a href="#">Jaaguep <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Jaak <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Jaakko <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Jaap <small>(30 Jobs)</small></a></li>
                            <li><a href="#">Jabin <small>(30 Jobs)</small></a></li>
                            <li><a href="#">Jabbar <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat11">
                        <h4 class="list-title">K</h4>
                        <ul class="check-list">
                            <li><a href="#">Kaan <small>(1 Jobs)</small></a></li>
                            <li><a href="#">Kaapro <small>(71 Jobs)</small></a></li>
                            <li><a href="#">Kaarle <small>(23 Jobs)</small></a></li>
                            <li><a href="#">Kacie <small>(30 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                    <div class="pitem item-w1 item-h1 cat12">
                        <h4 class="list-title">L</h4>
                        <ul class="check-list">
                            <li><a href="#">Laban <small>(12 Jobs)</small></a></li>
                            <li><a href="#">Labhars <small>(33 Jobs)</small></a></li>
                            <li><a href="#">Lachina <small>(12 Jobs)</small></a></li>
                            <li><a href="#">Laci <small>(11 Jobs)</small></a></li>
                            <li><a href="#">Ladislas <small>(0 Jobs)</small></a></li>
                        </ul><!-- end check -->
                    </div>

                </div>

                </div><!-- end container -->
            </div><!-- end section -->

            <div class="section footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h4>Contact</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="check">
                                        <li><a href="#">Video Tutorials</a></li>
                                        <li><a href="#">Live Chat Support</a></li>
                                        <li><a href="#">Email Newsletter</a></li>
                                        <li><a href="#">Follow on Social</a></li>
                                        <li><a href="#">Subscribe to Youtube</a></li>
                                        <li><a href="#">Get In Touch</a></li>
                                        <li><a href="#">Support Forums</a></li>
                                        <li><a href="#">Submit a Ticket</a></li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-2 col-sm-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h4>Network</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="check">
                                        <li><a href="job-search.html">Job Search</a></li>
                                        <li><a href="job-search-map.html">Job Search Map</a></li>
                                        <li><a href="job-add.html">Add a Job</a></li>
                                        <li><a href="employer-dashboard.html">Employer Dashboard</a></li>
                                        <li><a href="employer-listing.html">Employer Listing</a></li>
                                        <li><a href="employer-edit-profile.html">Employer Edit Profile</a></li>
                                        <li><a href="freelancer-profile.html">Freelancer Profile</a></li>
                                        <li><a href="freelancer-search.html">Freelancer Search</a></li>
                                        <li><a href="freelancer-search-map.html">Freelancer Search Map</a></li>
                                        <li><a href="freelancer-add-resume.html">Add a Resume / CV</a></li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-2 col-sm-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h4>Our Pages</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="check">
                                        <li><a href="page-about.html">About us</a></li>
                                        <li><a href="page-services.html">Custom Services</a></li>
                                        <li><a href="shop.html">Shop Page</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="shop-single-alt.html">Shop Single Alt</a></li>
                                        <li><a href="shop-cart.html">Shop Cart</a></li>
                                        <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                        <li><a href="page-pricing.html">Plans & Pricing</a></li>
                                        <li><a href="page-testimonial.html">Testimonials</a></li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-2 col-sm-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h4>Company</h4>
                                </div><!-- end widget-title -->

                                <div class="link-widget">   
                                    <ul class="check">
                                        <li><a href="#">About YourJob</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Our Team Members</a></li>
                                        <li><a href="#">Worldwide Offices</a></li>
                                        <li><a href="#">Worldwide Meet Up</a></li>
                                        <li><a href="#">Awards & Reviews</a></li>
                                        <li><a href="#">YourJob in Press</a></li>
                                        <li><a href="#">Carrers</a></li>
                                        <li><a href="#">User Guide</a></li>
                                        <li><a href="#">Knowledgebase</a></li>
                                        <li><a href="#">Affiliate</a></li>
                                    </ul><!-- end check -->
                                </div><!-- end link-widget -->
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-4 col-sm-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <img class="flogo" src="images/flogo.png" alt="">
                                </div><!-- end widget-title -->

                                <div class="text-widget">   
                                    <p>This is a professional responsive HTML5 job listing, job board and freelancer website template. This template available only Envato marketplace!</p>

                                    <ul class="list-inline social-small">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>

                                    <div class="mobileicons">
                                        <a href="#"><img src="images/mobile_01.png" alt=""></a>
                                        <a href="#"><img src="images/mobile_02.png" alt=""></a>
                                    </div>
                                </div><!-- end text-widget -->
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end footer -->

            <div id="sitefooter-wrap" class="stickyfooter">
                <div id="sitefooter" class="container">
                    <div id="copyright" class="row">
                        <div class="col-md-6 col-sm-12 text-left">
                            <p>YourJob ® is a designed and registered trademark of <a href="http://psdconverthtml.com">PSD to HTML</a> INC.</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul class="list-inline text-right">
                                <li><a href="#">Terms of Usage</a></li>
                                <li><a href="#">Copyrights</a></li>
                                <li><a href="#">License</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contactme hidden-xs">
                <a href="page-contact.html">
                    <img src="upload/me.jpg" class="img-circle" alt="" data-toggle="tooltip" data-placement="top" title="Need Help?">
                    <span class="oi" data-glyph="chat"></span>
                </a>
            </div>

            <div class="dmtop"><i class="fa fa-angle-up"></i></div>

        </div><!-- end wrapper -->
    <!-- /END SITE -->

    <!-- ******************************************
    DEFAULT JAVASCRIPT FILES
    ********************************************** -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.js"></script>
    <script src="js/custom.js"></script>

    <!-- ******************************************
    ADD YOUR CUSTOM JAVASCRIPT FILES HERE
    ********************************************** -->
    <script src="js/filter_01.js"></script>

</body>
</html>