{% extends 'main/base.html' %}
{% block content %}
            <div class="section db">
                <div class="container">
                    <div class="page-title text-center">
                        <div class="heading-holder">
                            <h1>Recent Jobs</h1>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="section lb">
                <div class="container">
                    <form class="submit-form customform" method="GET">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
                                    <input type="text" name="search" class="form-control" placeholder="Search Keywords" aria-describedby="basic-addon2">
                                </div>
                            </div><!-- end col -->

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-o"></i></span>
                                    <input type="text" class="form-control" placeholder="All Locations" aria-describedby="basic-addon1">
                                </div>
                            </div><!-- end col -->

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="selectpicker" data-style="btn-default" data-live-search="true">
                                    <option>Looking SEO Expert</option>
                                    <option>Looking Web Designer</option>
                                    <option>Looking Developer</option>
                                    <option>Looking Writer</option>
                                    <option>Looking Host Expert</option>
                                </select>  
                            </div><!-- end col -->

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <button class="btn btn-primary btn-block">Search Freelancer</button>
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <div class="row listcheckbox">
                            <div class="col-md-9">
                                <ul class="list-inline">
                                    <li class="checkbox checkbox-primary">
                                        <input id="checkbox_qu_01" type="checkbox" class="styled">
                                        <label for="checkbox_qu_01"><small>Freelancer</small>
                                        </label>
                                    </li>
                                    <li class="checkbox checkbox-primary">
                                        <input id="checkbox_qu_02" type="checkbox" class="styled">
                                        <label for="checkbox_qu_02"><small>Part Time</small>
                                        </label>
                                    </li>
                                    <li class="checkbox checkbox-primary">
                                        <input id="checkbox_qu_03" type="checkbox" class="styled">
                                        <label for="checkbox_qu_03"><small>Full Time</small>
                                        </label>
                                    </li>
                                    <li class="checkbox checkbox-primary">
                                        <input id="checkbox_qu_04" type="checkbox" class="styled">
                                        <label for="checkbox_qu_04"><small>Temporary</small>
                                        </label>
                                    </li>
                                    <li class="checkbox checkbox-primary">
                                        <input id="checkbox_qu_05" type="checkbox" class="styled">
                                        <label for="checkbox_qu_05"><small>Partnership</small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 text-right">
                                <a href="#" class="readmore">View All</a>
                            </div>
                        </div><!-- end row -->
                    </form>

                    <div class="all-jobs job-listing clearfix">
                        {% for job in object_list %}
                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="{{job.get_absolute_url}}"><img src="{% if job.image %}{{job.image.url}}{% endif %}" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge part-badge">Part Time</div>
                                    <h3><a href="{{job.get_absolute_url}}" title="">{{job.title}}</a></h3>
                                    <small>
                                        <span>Employer : <a href="#">{{job.employer.company_name}}</a></span> 
                                        <span>In : <a href="#">{{job.category}}</a></span>
                                        <span>Date : {{job.timestamp|timesince}}</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>{{job.location}}</p>
                                        <small>Australia</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$100/mo</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->
                        {% endfor %}


                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_06.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge freelancer-badge">Freelancer</div>
                                    <h3><a href="job-single.html" title="">Development Team Lead (Group Wide Technology)</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Amanda Sun</a></span> 
                                        <span>In : <a href="#">Development</a></span>
                                        <span>Date : 21.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Melbourne</p>
                                        <small>Australia</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$1200 - $1300</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_01.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge freelancer-badge">Freelancer</div>
                                    <h3><a href="job-single.html" title="">Make my website responsive device compatible</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Amanda Sun</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 16.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Hanua</p>
                                        <small>Germany</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$200 - $340</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_02.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge part-badge">Part Time</div>
                                    <h3><a href="job-single.html" title="">Hiring Online English Teachers</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Bob Sturan</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 14.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Antalya</p>
                                        <small>Turkey</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$650/mo</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_03.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge full-badge">Full Time</div>
                                    <h3><a href="job-single.html" title="">Looking Graphic Designer (Logo + UI)</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Kim Danson</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 13.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>New York</p>
                                        <small>United States</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$1200/mo</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_04.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge freelancer-badge">Freelancer</div>
                                    <h3><a href="job-single.html" title="">Are you Typography Expert?</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Teressa Lisbon</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 11.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Kash</p>
                                        <small>Russia</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$56 - $90</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_05.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge partnership-badge">Partnership</div>
                                    <h3><a href="job-single.html" title="">Looking WordPress Developer for ThemeForest</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">John DOE</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 08.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Austin</p>
                                        <small>United States</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>-</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">Contact</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_02.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge part-badge">Part Time</div>
                                    <h3><a href="job-single.html" title="">Hiring Online English Teachers</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Bob Sturan</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 14.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Antalya</p>
                                        <small>Turkey</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$650/mo</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_03.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge full-badge">Full Time</div>
                                    <h3><a href="job-single.html" title="">Looking Graphic Designer (Logo + UI)</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Kim Danson</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 13.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>New York</p>
                                        <small>United States</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$1200/mo</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_04.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge freelancer-badge">Freelancer</div>
                                    <h3><a href="job-single.html" title="">Are you Typography Expert?</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">Teressa Lisbon</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 11.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Kash</p>
                                        <small>Russia</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>$56 - $90</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->

                        <div class="job-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="post-media">
                                    <a href="job-single.html"><img src="upload/job_05.jpg" alt="" class="img-responsive img-thumbnail"></a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="badge partnership-badge">Partnership</div>
                                    <h3><a href="job-single.html" title="">Make my website responsive device compatible</a></h3>
                                    <small>
                                        <span>Publisher : <a href="#">John DOE</a></span> 
                                        <span>In : <a href="#">Web Design</a></span>
                                        <span>Date : 08.06.2016</span>
                                    </small>
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta">
                                        <p>Austin</p>
                                        <small>United States</small>
                                    </div><!-- end meta -->
                                </div><!-- end col -->

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="job-meta text-center">
                                        <h4>-</h4>
                                        <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end job-tab -->
                    </div><!-- end alljobs -->

                    <div class="loadmorebutton text-center clearfix">
                        <a href="#" class="btn btn-primary" id="loadMore">Load More Jobs</a>
                    </div><!-- end loadmore -->
                </div><!-- end container -->
            </div><!-- end section -->

            {% endblock content %}