{% extends 'main/base.html' %}
{% block content %}

            <div class="parallax section parallax-off" style="background-image:url('upload/parallax_03.jpg');">
                <div class="container">
                    <div class="page-title text-center">
                        <img src="upload/employer.jpg" alt="" class="profile-image img-circle img-responsive">
                        <div class="heading-holder">
                            <h1>PCH Company</h1>
                        </div>
                        <p class="lead">We are small group of IT solutions from New York City company</p>
                        <ul class="list-inline social-small">
                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="section lb">
                <div class="container">
                    <div class="row">
                        <div class="content col-md-7">
                            <div class="post-padding">
                                <div class="single-content">
                                    <h4 class="small-title">About PCH Company</h4>
                                    <p class="lead">100% Result Till now  with 5/5 rating with Preferred Freelancer chosen by Freelancer itself..</p>

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <p>Rremaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <h5 class="small-title">Preferred Freelancer and 100% Success Rate</h5>

                                    <ul class="customlist">
                                        <li>WordPress Expert</li>
                                        <li>Opencart listed Partner </li>
                                        <li>Magento Certified</li>
                                        <li>Php Larvel ,Zend Framework</li>
                                        <li>Certified Social Engine</li>
                                        <li>Prestashop , CS cart and Drupal,  ZenCart developer</li>
                                        <li>PSD TO HTML5 (  Elite author in themeforest)</li>
                                        <li>Great experience with Linux, Server Optimizing, Failover Clustering, Security, Virtualization know common used utilites, scripts and services such as Apache, PHP, MySQL, Nginx and many others.</li>
                                        <li>Donec venenatis ante a imperdiet maximus. Sed in justo porta, rutrum velit non, blandit lorem.</li>
                                        <li>Aenean pretium tortor eget nisl accumsan posuere. Aliquam congue metus eget quam scelerisque rhoncus.</li>
                                        <li>Donec vestibulum lectus a nisi vestibulum, sed vehicula est finibus. Proin facilisis tortor sed leo suscipit, quis pellentesque dui luctus.</li>
                                    </ul>
                                </div>
                            </div><!-- end post-padding -->

                            <div class="post-padding">
                                <div class="single-content recentworks">
                                    <h4 class="small-title">Jobs From PCH Company <a href="#" class="readmore">View All</a></h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive job-table">
                                                <table id="mytable" class="table table-bordred table-striped">

                                                    <thead>
                                                        <tr>
                                                        <th>Job Title</th>
                                                        <th>Type</th>
                                                        <th>Date</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                            <h4><a href="#">Hiring Online English Teachers</a><br>
                                                            <small>Status : Pending</small>
                                                            </h4>
                                                            </td>
                                                            <td><a href="#">Freelance</a></td>
                                                            <td>1 days ago</td>
                                                        </tr>

                                                         <tr>
                                                            <td>
                                                            <h4><a href="#">Looking blog writer for our blog</a><br>
                                                            <small>Status : Completed</small>
                                                            </h4>
                                                            </td>
                                                            <td><a href="#">Partnership</a></td>
                                                            <td>13 days ago</td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                            <h4><a href="#">Development Team Lead</a><br>
                                                            <small>Status : Completed</small>
                                                            </h4>
                                                            </td>
                                                            <td><a href="#">Part Time</a></td>
                                                            <td>21 days ago</td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                            <h4><a href="#">Make my website responsive</a><br>
                                                            <small>Status : Completed</small>
                                                            </h4>
                                                            </td>
                                                            <td><a href="#">Full Time</a></td>
                                                            <td>25 days ago</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- end table -->
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end post-padding -->
                        </div><!-- end col -->  

                        <div class="sidebar col-md-5">
                            <div id="map"></div>  
                            <div class="widget post-padding clearfix">    
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="small-detail">
                                                <h4>Email</h4>
                                                <small><a href="#">hello@employer.com</a></small>
                                                <small><a href="#">business@employer.com</a></small>
                                            </div><!-- end small -->
                                        </div><!-- end col -->
                                        <div class="col-md-6">
                                            <div class="small-detail">
                                                <h4>Phone & Fax</h4>
                                                <small>+90 98 654 33 21</small>
                                                <small>+90 98 654 33 20</small>
                                            </div><!-- end small -->
                                        </div><!-- end col -->
                                    </div>

                                    <hr class="invis">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="small-detail">
                                                <h4>Employer Type</h4>
                                                <small>Web Agency</small>
                                            </div><!-- end small -->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="small-detail">
                                                <h4>Member Since</h4>
                                                <small>2014</small>
                                            </div><!-- end small -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end post-padding -->
                            </div><!-- end widget -->

                            <div class="widget clearfix">    
                                <div class="customwidget item-price">
                                    <div class="content-title">
                                        <h4>Contact PCH Company</h4>
                                    </div><!-- end widget-title -->

                                    <form id="submit" class="submit-form">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <input type="text" class="form-control" placeholder="Name">
                                                <input type="email" class="form-control" placeholder="Email">
                                                <input type="text" class="form-control" placeholder="Phone">
                                                <textarea class="form-control" placeholder="Enter message here."></textarea>
                                                <button class="btn btn-primary">Submit</button>
                                            </div>
                                        </div><!-- end row -->
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end post-padding -->
                        </div><!-- end col -->
                    </div><!-- end row -->  
                </div><!-- end container -->
            </div><!-- end section -->
            {% endblock content %}