{% extends 'main/base.html' %}
{% block content %}

            <div class="parallax section parallax-off" style="background-image:url('upload/fbg.jpg');">
                <div class="container">
                    <div class="page-title text-center">
                        <div class="heading-holder">
                            <h1><i class="fa fa-star"></i> Favorites</h1>
                        </div>
                        <p class="lead">Listing here all your awesome following freelancers.</p>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->

            <div class="section lb">
                <div class="container">
                    <div class="row">
                        <div class="sidebar col-md-4">
                            <div class="post-padding clearfix">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="employer-dashboard.html"><span class="glyphicon glyphicon-off"></span>  Edit Profile</a></li>
                                    <li><a href="employer-manage-jobs.html"><span class="glyphicon glyphicon-briefcase"></span>  Manage Jobs</a></li>
                                    <li><a href="employer-submit-job.html"><span class="glyphicon glyphicon-star"></span>  Submit a Jobs</a></li>
                                    <li class="active"><a href="employer-favorites.html"><span class="glyphicon glyphicon-bookmark"></span>  Favorites</a></li>
                                    <li><a href="employer-transactions.html"><span class="glyphicon glyphicon-edit"></span>  Transactions</a></li>
                                    <li><a href="employer-change-password.html"><span class="glyphicon glyphicon-refresh"></span>  Change Password</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span>  Logout</a></li>
                                </ul>
                            </div><!-- end widget -->
                        </div><!-- end col -->

                        <div class="content col-md-8">
                            <div class="post-padding">
                                <div class="job-title nocover hidden-sm hidden-xs"><h5>Favorite Freelancers</h5></div>
                                <div class="all-jobs job-listing freelancer-list nopadlist clearfix">
                                    <div class="job-tab">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="post-media">
                                                <a href="freelancer-profile.html"><img src="upload/testi_01.png" alt="" class="img-responsive img-thumbnail"></a>
                                                </div><!-- end media -->
                                            </div><!-- end col -->

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="badge part-badge">Web Designer</div>
                                                <h3><a href="freelancer-profile.html" title="">Carolina Keegan</a></h3>
                                                <small>
                                                    <span>Skills : <a href="#">Web Design</a>, <a href="#">Bootstrap</a>, <a href="#">Marketing</a></span>
                                                    <span>Updated : 1 Week Ago</span>
                                                </small>
                                            </div><!-- end col -->

                                            <div class="col-md-2 col-sm-3 col-xs-12">
                                                <div class="job-meta text-center">
                                                    <h4>$20/hr</h4>
                                                    <a href="freelancer-profile.html" class="btn btn-primary btn-sm btn-block">Give a Job</a>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end job-tab -->

                                    <div class="job-tab">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="post-media">
                                                <a href="freelancer-profile.html"><img src="upload/testi_02.png" alt="" class="img-responsive img-thumbnail"></a>
                                                </div><!-- end media -->
                                            </div><!-- end col -->

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="badge part-badge">UI Designer</div>
                                                <h3><a href="freelancer-profile.html" title="">Martin Taylor</a></h3>
                                                <small>
                                                    <span>Skills : <a href="#">UI</a>, <a href="#">Graphic Design</a>, <a href="#">Logo</a></span>
                                                    <span>Updated : 2 Week Ago</span>
                                                </small>
                                            </div><!-- end col -->

                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="job-meta text-center">
                                                    <h4>$40/hr</h4>
                                                    <a href="freelancer-profile.html" class="btn btn-primary btn-sm btn-block">Give a Job</a>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end job-tab -->

                                    <div class="job-tab">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="post-media">
                                                <a href="freelancer-profile.html"><img src="upload/testi_03.png" alt="" class="img-responsive img-thumbnail"></a>
                                                </div><!-- end media -->
                                            </div><!-- end col -->

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="badge part-badge">SEO Expert</div>
                                                <h3><a href="freelancer-profile.html" title="">Amani Tanisha</a></h3>
                                                <small>
                                                    <span>Skills : <a href="#">SEO</a>, <a href="#">Google</a>, <a href="#">Search Engine</a></span>
                                                    <span>Updated : 2 Week Ago</span>
                                                </small>
                                            </div><!-- end col -->

                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="job-meta text-center">
                                                    <h4>$60/hr</h4>
                                                    <a href="freelancer-profile.html" class="btn btn-primary btn-sm btn-block">Give a Job</a>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end job-tab -->

                                    <div class="job-tab">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="post-media">
                                                <a href="freelancer-profile.html"><img src="upload/testi_04.png" alt="" class="img-responsive img-thumbnail"></a>
                                                </div><!-- end media -->
                                            </div><!-- end col -->

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="badge part-badge">SEO Expert</div>
                                                <h3><a href="freelancer-profile.html" title="">Bob Way</a></h3>
                                                <small>
                                                    <span>Skills : <a href="#">SEO</a>, <a href="#">Google</a>, <a href="#">Search Engine</a></span>
                                                    <span>Updated : 1 Week Ago</span>
                                                </small>
                                            </div><!-- end col -->

                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="job-meta text-center">
                                                    <h4>$120/hr</h4>
                                                    <a href="freelancer-profile.html" class="btn btn-primary btn-sm btn-block">Give a Job</a>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end job-tab -->

                                    <div class="job-tab">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="post-media">
                                                <a href="freelancer-profile.html"><img src="upload/testi_05.png" alt="" class="img-responsive img-thumbnail"></a>
                                                </div><!-- end media -->
                                            </div><!-- end col -->

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="badge part-badge">English Teacher</div>
                                                <h3><a href="freelancer-profile.html" title="">Jenna Ashe</a></h3>
                                                <small>
                                                    <span>Skills : <a href="#">English</a>, <a href="#">Teacher</a>, <a href="#">Learning</a></span>
                                                    <span>Updated : 1 Week Ago</span>
                                                </small>
                                            </div><!-- end col -->

                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="job-meta text-center">
                                                    <h4>$40/hr</h4>
                                                    <a href="freelancer-profile.html" class="btn btn-primary btn-sm btn-block">Give a Job</a>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end job-tab -->

                                    <div class="job-tab">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="post-media">
                                                <a href="freelancer-profile.html"><img src="upload/testi_06.png" alt="" class="img-responsive img-thumbnail"></a>
                                                </div><!-- end media -->
                                            </div><!-- end col -->

                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <div class="badge part-badge">Article Writer</div>
                                                <h3><a href="freelancer-profile.html" title="">John DOE</a></h3>
                                                <small>
                                                    <span>Skills : <a href="#">Blogger</a>, <a href="#">Writer</a>, <a href="#">Article</a></span>
                                                    <span>Updated : 1 Week Ago</span>
                                                </small>
                                            </div><!-- end col -->

                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <div class="job-meta text-center">
                                                    <h4>$12/hr</h4>
                                                    <a href="freelancer-profile.html" class="btn btn-primary btn-sm btn-block">Give a Job</a>
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end job-tab -->
                                </div><!-- end alljobs -->
                            </div><!-- end post-padding -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->  
                </div><!-- end container -->
            </div><!-- end section -->
            {% endblock content %}