{% extends 'main/base.html' %}
{% block content %}
{{block.super}}

{% load staticfiles %}

<section class="courses">
    <div class="row ">
        <div class="col-12">
            <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                <!-- Total Products -->
                <div class="total-products">
                    
                    <div class="view d-flex">
                        <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- Sorting -->
                <div class="product-sorting d-flex">
                    <div class="sort-by-date d-flex align-items-center mr-15">
                        <p>Sort by</p>
                        <form action="#" method="get">
                            <select name="select" id="sortBydate">
                                <option value="value">Date</option>
                                <option value="value">Newest</option>
                                <option value="value">Popular</option>
                            </select>
                        </form>
                    </div>
                    <div class="view-product d-flex align-items-center">
                        <p>View</p>
                        <form action="#" method="get">
                            <select name="select" id="viewProduct">
                                <option value="value">12</option>
                                <option value="value">24</option>
                                <option value="value">48</option>
                                <option value="value">96</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="">
    <!-- row -->
    <div class="row">
        
    <!-- Single Product Area -->
    {% for shop in object_list %}
    
    <!-- Single Product Area -->
    
    <div class="col-md-4 col-sm-6 col-xs-6 ">
        <div class="product product-single">
            <div class="product-thumb">
                
                <a href="{{shop.get_company_url}}">
                <button class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</button>
                <img src="{{shop.logo.url}}" alt="{{shop.name}}">
            </a>
            </div>
            <div class="product-body">
                <h3 class="product-price" >{{shop.name}} </h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name"><a href="#">{{shop.description | truncatechars:40}}</a></h2>
                <!-- <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <form class="cart clearfix" method="post" action="{% url 'add_cart' %}">{% csrf_token %}
                        <input type="hidden" name="product_name" value="{{product.name}}" />
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> {% if in_cart %} Remove From Cart {% else %} Add To Cart {% endif %}</button>
                        
                    </form>
                </div> -->
            </div>
        </div>
    </div>

    {% endfor %}
    {% for shop in object_list %}
    

    
     <!-- Single Product Area -->
    
     <div class="col-md-4 col-sm-6 col-xs-6 ">
        <div class="product product-single">
            <div class="product-thumb">
                
                <a href="{{shop.get_company_url}}">
                <button class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</button>
                <img src="{{shop.logo.url}}" alt="{{shop.name}}">
            </a>
            </div>
            <div class="product-body">
                <h3 class="product-price" >{{shop.name}} </h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name"><a href="#">{{shop.description | truncatechars:40}}</a></h2>
                <!-- <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <form class="cart clearfix" method="post" action="{% url 'add_cart' %}">{% csrf_token %}
                        <input type="hidden" name="product_name" value="{{product.name}}" />
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> {% if in_cart %} Remove From Cart {% else %} Add To Cart {% endif %}</button>
                        
                    </form>
                </div> -->
            </div>
        </div>
    </div>


    {% endfor %}
    {% for shop in object_list %}
    <!-- Single Product Area -->
    
    <div class="col-md-4 col-sm-6 col-xs-6 ">
        <div class="product product-single">
            <div class="product-thumb">
                
                <a href="{{shop.get_company_url}}">
                <button class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</button>
                <img src="{{shop.logo.url}}" alt="{{shop.name}}">
            </a>
            </div>
            <div class="product-body">
                <h3 class="product-price" >{{shop.name}} </h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name"><a href="#">{{shop.description | truncatechars:40}}</a></h2>
                <!-- <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <form class="cart clearfix" method="post" action="{% url 'add_cart' %}">{% csrf_token %}
                        <input type="hidden" name="product_name" value="{{product.name}}" />
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> {% if in_cart %} Remove From Cart {% else %} Add To Cart {% endif %}</button>
                        
                    </form>
                </div> -->
            </div>
        </div>
    </div>


    {% endfor %}
    {% for shop in object_list %}
    
     <!-- Single Product Area -->
    
     <div class="col-md-4 col-sm-6 col-xs-6 ">
        <div class="product product-single">
            <div class="product-thumb">
                
                <a href="{{shop.get_company_url}}">
                <button class="main-btn quick-view" ><i class="fa fa-search-plus"></i> Quick view</button>
                <img src="{{shop.logo.url}}" alt="{{shop.name}}">
            </a>
            </div>
            <div class="product-body">
                <h3 class="product-price" >{{shop.name}} </h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name"><a href="#">{{shop.description | truncatechars:40}}</a></h2>
                <!-- <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                    <form class="cart clearfix" method="post" action="{% url 'add_cart' %}">{% csrf_token %}
                        <input type="hidden" name="product_name" value="{{product.name}}" />
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> {% if in_cart %} Remove From Cart {% else %} Add To Cart {% endif %}</button>
                        
                    </form>
                </div> -->
            </div>
        </div>
    </div>


    {% endfor %}

    </div>
</div>
</section>


    <div class="aside">
        <h3 class="aside-title">Top Rated Product</h3>
        <!-- widget product -->
        
        <div class="product product-widget">
            {% for product in object_list %}
            <a href="/products/{{product.slug}}">
            <div class="product-thumb">
                <img src="{{product.image.url}}" alt="">
            </div>
            <div class="product-body">
                <h2 class="product-name"><a href="/products/{{product.slug}}">{{product.name}}</a></h2>
                <h3 class="product-price">${{product.price}} <del class="product-old-price">${{product.discounted_from}}</del></h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
            </div>
            </a>
            {% endfor %}
            {% for product in object_list %}
            <a href="/products/{{product.slug}}">
            <div class="product-thumb">
                <img src="{{product.image.url}}" alt="">
            </div>
            <div class="product-body">
                <h2 class="product-name"><a href="/products/{{product.slug}}">{{product.name}}</a></h2>
                <h3 class="product-price">${{product.price}} <del class="product-old-price">${{product.discounted_from}}</del></h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
            </div>
            </a>
            {% endfor %}
            {% for product in object_list %}
            <a href="/products/{{product.slug}}">
            <div class="product-thumb">
                <img src="{{product.image.url}}" alt="">
            </div>
            <div class="product-body">
                <h2 class="product-name"><a href="/products/{{product.slug}}">{{product.name}}</a></h2>
                <h3 class="product-price">${{product.price}} <del class="product-old-price">${{product.discounted_from}}</del></h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
            </div>
            </a>
            {% endfor %}
            
            
        </div>
        <!-- /widget product -->
</div>
        
{% endblock content %}