{% extends 'main/base.html' %}
{% block content %}

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">New account / Sign in </h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
 

        <!-- register-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">

                <div class="col-md-6" id="register">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 register-blocks">
                            <h2>New account : </h2> 
                            <form action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- <label for="name">Name</label> -->
                                    {{register_form}}
                                </div>
                                <!-- <div class="form-group">
                                    <label for="email">Email</label>
                                    {{register_form.email}}
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {{register_form.password1}}
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {{register_form.password2}}
                                </div> -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" id="login">
                    <div class="box-for overflow">                         
                        <div class="col-md-12 col-xs-12 login-blocks">
                            <h2>Login : </h2> 
                            {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
                            {% if next %}
                            {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                            {% else %}
                            <p>Please login to see this page.</p>
                            {% endif %}
                            {% endif %}
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" autofocus="" required="" id="id_username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" required="" id="id_password" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default"> Log in</button>
                                    <input type="hidden"  name="next" value="{{ next }}" />
                                </div>
                            </form>
                            <br>
                            
                            <h2>Social login :  </h2> 
                            
                            <p>
                            <a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a> 
                            <a class="login-social" href="#"><i class="fa fa-google-plus"></i>&nbsp;Gmail</a> 
                            <a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>  
                            </p> 
                            {# Assumes you setup the password_reset view in your URLconf #}
                            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                            <p><a href="#register">don't have an account? <b>CREATE one</b></a></p>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>      

        {% endblock content %} 
        {% block script %}
        <script type="text/javascript">
            $('document').ready(function(){
      
                $('.form-group input').addClass('form-control');
                
            })
        </script>
        {% endblock script %}