<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GARO ESTATE | Submit property Page</title>
        <meta name="description" content="Rentals is a platform for people to rent items easily">
        <meta name="author" content="Theophilus">
        <meta name="keyword" content="rental, rent car, houses, shops, office, event equipments, tractor">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">  
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}"> 
        <link rel="stylesheet" href="{% static 'assets/css/wizard.css' %}"> 
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->


        {% include 'main/header.html' %}

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Submit new property</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="clearfix" > 
                    <div class="wizard-container"> 

                        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                            <form action="" method="POST"> {% csrf_token %}                       
                                <div class="wizard-header">
                                    <h3>
                                        <b>Submit</b> YOUR PROPERTY <br>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
                                    </h3>
                                </div>

                                <ul>
                                    <li><a href="#step1" data-toggle="tab">Step 1 </a></li>
                                    <li><a href="#step2" data-toggle="tab">Step 2 </a></li>
                                    <li><a href="#step3" data-toggle="tab">Step 3 </a></li>
                                    <li><a href="#step4" data-toggle="tab">Finished </a></li>
                                </ul>

                                <div class="tab-content">

                                    <div class="tab-pane" id="step1">
                                        <div class="row p-b-15  ">
                                            <h4 class="info-text"> Let's start with the basic information (with validation)</h4>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        
                                                        <img src="{% static 'assets/img/default-property.jpg' %}" class="picture-src" id="wizardPicturePreview" title=""/>
                                                        {{form.image}}
                                                        <!-- <input name='main-image' type="file" id="wizard-picture"> -->
                                                        
                                                       
                                                       
                                                    </div> 
                                                </div>
                                            </div>
                                           
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Property name <small>(required)</small></label>
                                                    {{form.name}}
                                                </div>

                                                <div class="form-group">
                                                    <label>Property price <small>(required)</small></label>
                                                    {{form.price}}
                                                </div> 
                                                <div class="form-group">
                                                    <label>Per <small>(required)</small></label>
                                                    {{form.price}}
                                                </div> 
                                                <div class="form-group">
                                                    <label>Property Address <small>(empty if you wanna use default address)</small></label>
                                                    {{form.location}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 1 -->

                                    <div class="tab-pane" id="step2">
                                        <h4 class="info-text"> How much your Property is Beautiful ? </h4>
                                        <div class="row">
                                            <div class="col-sm-12"> 
                                                <div class="col-sm-12"> 
                                                    <div class="form-group">
                                                        <label>Property Description :</label>
                                                        {{form.description}}
                                                    </div> 
                                                </div> 
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Category :</label>
                                                        {{form.category}}
                                                        <!-- <select name="category" id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                                            <h4>Event accessories</h4>
                                                            <option value="canopy">canopy</option>
                                                            <option value="chairs">chairs</option>
                                                            <option value="Event Center">Event Center</option>
                                                            <h4>Automobile</h4>
                                                            <option value="cars">Cars</option>
                                                            <option value="trucks">Trucks</option>
                                                            <h4>Houses</h4>
                                                            <option value="shop">shop</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Additional Features :</label>
                                                        {{form.additional_features}}
                                                        <span><small>Seperate each feature by comma (,)</small></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Property Statue  :</label>
                                                        {{form.quantity_available}}
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-sm-4">

                                                    <div class="form-group">
                                                        <label for="property-geo">Property size (m2) :</label>
                                                        <input name='size' type="text" class="span2" value="" data-slider-min="0" 
                                                               data-slider-max="600" data-slider-step="5" 
                                                               data-slider-value="[50,450]" id="property-geo" ><br />
                                                        <b class="pull-left color">40m</b> 
                                                        <b class="pull-right color">12000m</b>
                                                    </div>
                                                </div>    -->
                                         
                                            </div>
                                            <div class="col-sm-12 padding-top-15">                                                   
                                                
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Quantity Available  :</label>
                                                        {{form.quantity_available}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label for="property-geo">Property size (m2) :</label>
                                                        {{form.size}}
                                                        <!-- <input name='size' type="text" class="span2" value="" data-slider-min="0" 
                                                               data-slider-max="600" data-slider-step="5" 
                                                               data-slider-value="[50,450]" id="property-geo" ><br />
                                                        <b class="pull-left color">40m</b> 
                                                        <b class="pull-right color">12000m</b> -->
                                                    </div>
                                                </div>   
                                            </div>
                                            
                                            <br>
                                        </div>
                                    </div>
                                    <!-- End step 2 -->

                                    <div class="tab-pane" id="step3">                                        
                                        <h4 class="info-text">Give us somme images and videos ? </h4>
                                        <div class="row">  
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="property-images">Chose Images :</label>
                                                    {{image_form}}
                                                    <input class="form-control" type="file" id="property-images">
                                                    <p class="help-block">Select multipel images for your property .</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"> 
                                                <div class="form-group">
                                                    <label for="property-video">Property video :</label>
                                                    <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                                </div> 

                                                <div class="form-group">
                                                    <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                                </div>

                                                <div class="form-group">
                                                    <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="property_video" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 3 -->


                                    <div class="tab-pane" id="step4">                                        
                                        <h4 class="info-text"> Finished and submit </h4>
                                        <div class="row">  
                                            <div class="col-sm-12">
                                                <div class="">
                                                    <p>
                                                        <label><strong>Terms and Conditions</strong></label>
                                                        By accessing or using  GARO ESTATE services, such as 
                                                        posting your property advertisement with your personal 
                                                        information on our website you agree to the
                                                        collection, use and disclosure of your personal information 
                                                        in the legal proper manner
                                                    </p>

                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" /> <strong>Accept termes and conditions.</strong>
                                                        </label>
                                                    </div> 

                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <!--  End step 4 -->

                                </div>

                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-primary' name='next' value='Next' />
                                        <input type='submit' class='btn btn-finish btn-primary ' name='finish' value='Finish' />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>                                            
                                </div>	
                            </form>
                        </div>
                        <!-- End submit form -->
                    </div> 
                </div>
            </div>
        </div>

        {% include 'main/footer.html' %}

        <script src="{% static 'assets/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'assets/js//jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>
        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/icheck.min.js' %}"></script>

        <script src="{% static 'assets/js/price-range.js' %}"></script> 
        <script src="{% static 'assets/js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/wizard.js' %}"></script>

        <script src="{% static 'assets/js/main.js' %}"></script>

<script type="text/javascript">
    $('document').ready(function(){
        $('#id_image').addClass('image-class');
        $('.image-class').removeAttr('id').attr('id','wizard-picture');
        $('.form-group input').addClass('form-control');
        $('.form-group textarea').addClass('form-control')
    })
</script>
    </body>
</html>